<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exe2.Properties.Settings.Pemesanan_bajuConnectionString"
            connectionString="Data Source=LAPTOP-9KH4NLM6\GEMARAMADHAN;Initial Catalog=Pemesanan_baju;User ID=sa;Password=Kitting201102"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>